parameters:
	level: 9
	paths:
		- src
	ignoreErrors:
		- '#Call to an undefined static method Eightfold\\HTMLBuilder\\Element::(.*)#'
		- '#Call to an undefined static method Eightfold\\XMLBuilder\\Element::(.*)#'
		- '#Call to an undefined static method Eightfold\\XMLBuilder\\Document::(.*)#'
